<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi primer MVT con Django</title>
</head>
<body>

  <h1 style="color: brown">MI FAMILIA ESTA COMPUESTA POR:</h1>

    {% for persona in familiares %}

        <h2 style="color: green">{{persona.nombre}} {{persona.apellido.upper}} | {{persona.edad}} | {{persona.fecha_nacimiento}}</h2>

    {% endfor %}
    

</body>